<!-- 👇Remove this markup when converting to a handlebars template 👇 -->

<!-- 👆Remove this markup when converting to a handlebars template👆 -->
  <header>
  <div class="header-container">
    <a href="/">
      <h1 class="logo">Music Shop🎸</h1>
    </a>
  </div>
</header>
<main>
  <h2>Cart</h2>
  <p>
    <a href="/">Return to Store Page</a>
  </p>
  <section id="cart">
    <div class="cart-items">
<!-- TODO: 👇Use a handlebars each helper to loop over cart items👇 -->
{{#each cartItems}}
        <div class="cart-item">
    <!-- replace with inventoryId -->
          <a
            href="/product/{{id}}"
            class="cart-item-info">
    <!-- replace with product image -->
            <img src="/images/{{image}}" alt="{{name}}" />
            <div>
    <!-- replace with product name and price -->
              <p>{{name}}</p>
              <p>${{price}}</p>
            </div>
          </a>
          <div class="cart-item-subtotal">
            <div class="cart-item-controls">
              <label>
                Quantity
<!-- replace with cart id, set max to inventoryQuantity, value to quantity -->
                <input
                  data-cart-id="{{id}}"
                  type="number"
                  min="0"
                  max="{{inventoryQuantity}}"
                  value="{{quantity}}" />
              </label>
              <!-- replace with cart id -->
              <button
                class="remove-from-cart"
                data-cart-id="{{id}}">
                Remove
              </button>
            </div>
<!-- replace with calculatedPrice -->
            <p>${{calculatedPrice}}</p>
          </div>
        </div>
        <hr />
{{/each}}
<!-- TODO: 👆Use a handlebars each helper to loop over cart items👆 -->
      <div class="cart-total">
        <p>Total:</p>
<!-- TODO: Replace with cart total -->
        <p>${{total}}</p>
      </div>
      <button id="emptyCart">Empty Cart</button>
    </div>
  </section>
</main>
<footer>
  <p>&copy; Music Shop</p>
</footer>
<!-- 👇Remove this markup when converting to a handlebars template 👇 -->

<!-- 👆Remove this markup when converting to a handlebars template👆 -->