<!-- 👇Remove this markup when converting to a handlebars template 👇 -->

<!-- 👆Remove this markup when converting to a handlebars template👆 -->
  <header>
  <div class="header-container">
    <a href="/">
      <h1 class="logo">Music Shop🎸</h1>
    </a>
    <!-- replace with cartCount -->
    <a href="/cart" class="cart-link">Cart ({{cartCount}})</a>
  </div>
</header>
<main>
  <section id="product-container">
    <!-- replace with product image and name -->
    <img src="/images/{{product.image}}" alt="{{product.name}}"/>
    <!-- replace form action id # with product id -->
      <form method="POST" action="/api/cart?inventoryId={{product.id}}">
        <!-- replace with product name -->
        <h2>{{product.name}}</h2>
        <!-- replace with product description -->
        <p>{{product.description}}</p>
        <!-- replace with product price -->
        <p>${{product.price}}</p>
        <label for="quantity-input">
          Quantity
    <!-- replace max input attribute with quantity -->
          <input
            name="quantity"
            id="quantity-input"
            type="number"
            min="1"
            value="1"
            max="{{product.quantity}}" />
        </label>
        <button>Add to Cart</button>
      </form>
  </section>
  <a href="/" id="returnToStore">Return to Store Page</a>
</main>
<footer>
  <p>&copy; Music Shop</p>
</footer>
<!-- 👇Remove this markup when converting to a handlebars template 👇 -->

<!-- 👆Remove this markup when converting to a handlebars template👆 -->